@font-face {
    font-family: mj;
    src: url('../fonts/Mj flow.ttf');
}
@font-face {
    font-family: yek;
    src: url('../fonts/Yekan.ttf');
}
@font-face {
    font-family: mitra;
    src: url('../fonts/Mitra.ttf');
}
@font-face {
    font-family: tul;
    src: url('../fonts/Thuluth.ttf');
}