.form {
    background: #ffffff;
    border-radius: 5px;
    margin: 10px;
    direction: rtl;
    font-family: mj;
    overflow:hidden;
}

    .form > h2 {
        background: rgba(240,240,240,1);
        margin: 0 auto;
        width: 80%;
        text-align: center;
        padding: 10px 0;
        font-family: tul;
        color: #555;
        border-radius: 30% 30% 100% 100%;
    }

    .form > #error {
        width: 80%;
        margin: 20px auto;
        color: red;
    }

    .form > .items {
        width: 80%;
        margin: 10px 60px;
        background: rgba(240,240,240,1);
        border-radius: 3px;
        padding: 6px;
    }

        .form > .items > .title {
            background: rgba(220,220,220,1);
            border-radius: 5px;
            padding: 4px 5px;
            color:#333;
        }
        .form > .items > input{
            width:80%;
            height:40px;
            border:0 none;
            text-indent:20px;
            margin-right:2px;
            font-family:mitra;
            font-size:20px;
        }
        .form > .items > .error{
            padding:5px 10px;
        }
        .form > .items > select {
            width: 80%;
            height: 40px;
            border: 0 none;
            text-align:center;
            margin-right: 2px;
            font-family: mitra;
            font-size: 20px;
        }
        .form > .items > select > option{
           
        }
        .form > .items.s1 {
            width: 50%;
        }
        .form > .items.s1 > input{
            width:77%;
            text-align:center;
        }
        .form > .items.s2{
            width:60%;
        }
        .form > .items.s2 > input {
            width: 72%;
        }
        .form > .items.s3 {
            width: 64%;
        }
        .form > .items.s3 > input{
            width:65%;
        }
        .form > .items.no_bg {
            background: #ffffff;
            margin:20px 60px;
        }
        .form > .items > input[type=radio],
        .form > .items > input[type=file] {
            display: none;
        }
        .form > .items > input[type=radio] + label{
            margin-right:60px;
            padding:0 30px 0 10px;
            cursor:pointer;
        }
        .form > .items > input[type=radio]:checked + label{
            background:url('../images/icons/tik3.png') no-repeat 90% 10%;
            background-size:22px;
        }
        .form > .items > input[type=file] + label{
            margin-right:10px;
            padding:6px 200px;
            border-radius:10px;
            cursor:pointer;
            font-family:'B Nazanin' ;
            font-size:24px;
            color:cornflowerblue;
            background:url('../images/icons/208w.png') orange no-repeat 20%;
            background-size:28px;
        }
        .form > .items > textarea {
            margin-top:4px;
            display: block;
            max-width: 100%;
            min-width: 100%;
            min-height:150px;
            max-height:200px;
            border: 0 none;
            text-indent: 10px;
            font-family: mitra;
            font-size: 20px;
        }
        .form > .items > input[type=submit]{
            margin:10px 60px;
            background:#8f7c7c;
            border-radius:10px;
            padding:0 5px;
            cursor:pointer;
            color:cornflowerblue;
        }
        .form > .items > input:hover{
            transition:0.5s;
            transform:translateX(-30px);
        }
        .items > img{
            width:100%;
            height:100%;
            border-radius:50px;
        }